body{
	background-color: #333;
}
h1{
  font-size:1em;
  text-align:center;
  color:#929292;
}
.nav{
	width: 998px;
	margin: 50px auto;
	list-style: none;
	position: relative;
}
.nav li{
	height: 100px;
	width: 100px;
	margin: 25px;
	float: left;
	overflow: hidden;
	border-radius: 10%;
	border:6px solid #929292;
	box-shadow: 2px 2px 0 0 rgba(0,0,0,.5);
	margin: 6px;
	transition:all 1s ease;
}
.nav li img{
	margin: -100px 0px 0px 0px;   /*去除绝对定位，改为margin的方式*/
	transition:all 1s ease;
}
.nav li a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.nav li a:before{
	content: attr(title);       
	position: relative;        /*改绝对定位为相对定位*/
	left: 40px;
	top: 100px;
	transition:all 1s ease;
}
.nav li:hover{
	border:6px solid #333;
	box-shadow: 0px 0px 20px 0 rgba(255,255,255,.5);
}
.nav li:hover img{
	margin-left: -50px;
	margin-top: -50px;
	cursor: pointer;
}
.nav li:hover a:before{
	top: 50px;
}