.channel-layout {
  display: flex;
  min-height: 100vh;
}
.channel-layout > * {
  flex-basis: 100%;
}

.channel-list-wrapper {
  padding: var(--space-sm);
}
.channel-list-wrapper h1 {
  font-size: 1.75rem;
}

.channel {
  display: grid;
  grid-template-columns: 0.5rem 3rem 1fr;
  gap: 0.8rem;
  align-items: center;
  background: var(--color-background-card);
  margin: 0.5rem 0;
  padding: 0.1rem;
  border-radius: var(--border-radius);
  transition: all 100ms;
  border: var(--border-width) solid var(--color-background-card);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.channel[data-playing=true] {
  border-color: var(--color-link-default);
}

.play-channel {
  all: unset;
  cursor: pointer;
  height: 100%;
  background: var(--color-background);
}

.channel-title {
  font-weight: 800;
}

.channel-language {
  color: var(--color-ui);
  font-size: 0.5rem;
  font-weight: 600;
}

.handle {
  text-align: center;
  opacity: 0.2;
  cursor: ns-resize;
}

.label {
  color: var(--color-ui);
  margin: var(--space-sm) 0 0.25rem 0;
}

.player-wrapper {
  background: var(--color-background-intense);
  padding: var(--space-sm);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.sticky {
  position: sticky;
  top: var(--space-sm);
}

.video-wrapper {
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.video-wrapper video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}