body {
  margin: 0;
  font-family: arial;
  /*background-color: rgb(249, 255, 219);*/
  background-color: azure;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: white;
}
p {
  margin: 0;
}
.navbar {
  width: 100%;
  height: 5vh;
  vertical-align: top;
  background-color: rgb(218, 44, 44);
  line-height: 5vh;
}
.navbar-text {
  text-align: center;
  font-family: arial;
  font-size: 10vh;
}
header ul,
header li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header li {
  float: left;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 20px;
  width: max-content;
  cursor: pointer;
}
header li:hover {
  background-color: rgb(221, 64, 64);
  color: white;
}
header li:active {
  background-color: rgb(199, 52, 52);
}
.canli-tv-div {
  width: 150px;
  height: fit-content;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(172, 172, 172);
  padding-left: 1px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.canli-tv-div-text {
  color: rgb(77, 77, 77);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2vh;
  opacity: 0.7;
}
@media screen and (max-height: 20px) {
  .canli-tv-main {
    height: 50px;
  }
  .canli-tv-div {
    width: 400px;
    margin-top: 100px;
    margin-bottom: 5vh;
  }
}
@media screen and (max-height: 50px) {
  .canli-tv-main {
    height: 50px;
  }
  .canli-tv-div {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 5vh;
  }
}
