	body {
			background: #000;
			text-align: center;
			margin: 0 auto;
            font-family: Arial, Verdana, sans-serif;

		}
 .seek-time {
    margin-bottom:5px;
 }
 
	.player {
		margin: -1 auto;
		width: 680;
		height: 550px;
                float: right;
	}


#centerDiv {
    float: left;
}
        #events { 
            border-radius: 5px;
            background-color: #383C47;
            margin: auto;
            margin-left: 2px;
            margin-bottom: 2px;
            scrolling: auto;
        }

    #date {
            float: right;
            padding: 5px 8px;
            color: #FFF;
        }
        #eventlist {
    margin-top: 0; 
    border-radius: 5px;
    width: 100%;
    overflow: auto;
    color: #272B34;
    scrolling: auto;
        }
         .event {
            padding: 2px 5px;
            overflow:auto;
            background-color: white;
        }

        .icon {
            float: left;
            margin-right: 2px;
            margin-left: 2px;

        }

        .live {
            float: left;
            width: 2px;

        }

        .live span {
            color: #ff4005;
            font-size: 16px;
        }

        .league {
            float: right;

        }

        .teams {
            float: left;
            margin-left: 2px;

        }

        .odd {
            background-color: #383C47;
            color: #fff;
        }

        .even {
            color: #383C47;
        }

        .block:hover {
            background-color: #f2f2f2;
        }

        .blockodd:hover {
            background-color: #535763;
        }

        .fas {
            font-size: 14px;
        }
                .sports {
            float: left;
        }

        #clear {
            clear:both;
        }

        .sports a:hover {
            text-decoration: none;
            background-color: #212227;
        }
        .active { 
            background-color: #212227;
        }

        .sports a {
            text-decoration: none;
            display: block;
            float: left;
            padding: 6px;
            color: #fff;
        }

        .sportslass {
            padding-right: 2px;
        }
        #mobileAds {
            display: none;
        }
        .live {
                width: 40px;
            }
            .fancybox-content { 
    padding: 2px;
}

.description {display: none}

.fancybox-close-small {
    background: #fff;
    border-radius: 25px;
    }

.player { 
    width: 680px;
    height: 560px;
}
#eventlist { 
    width: 400px; 
}
 #date {
    display: block;
 }
}
    @media screen and (max-width: 100%) {
        .league {
            display: none;
        }
        .event {
    padding: 2px; 
}
#skipBut {
    padding: 3px !important;
    font-size: 16px !important;
    bottom: 10px !important;
}
 #centerDiv {
    float: right;
    width: 100%;
 }
 #eventlist {
    width: 100%;
}
 #RightSide { 
        display: none;
    }
    #leftSide {
      display: none;
    }
.player {
    width: 680px;
    min-width: 720px;
        height: 550px;
}
 #date {
    display: none;
 }