/*TIPSPORT LIGA LIVE STREAM*/

/*IMPORTING THE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.title {
  position: relative;
  top: 7px;
  left: -10px;
}

.teams {
  position: relative;
  top: 1px;
  border: true;
 border-radius: 5px;
  border: 2.7px solid #FF0000;
}

.info {
  position: relative;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  color: #1F1F1F;
}

.match {
  position: absolute;
  top: 1000px;
}