.clearfix {
  display: block;
  clear: both;
}

.youtube-result {
  display: block;
  color: #000;
  background-color: #EEE;
  text-decoration: none;
}

.youtube-result:active {
  background-color: #DDD;
}

.youtube-result strong {
  display: block;
  padding: 10px;
  font: bold 13pt sans-serif;
}

.youtube-result img {
  float: left;
  width: 160px;
  margin-right: 10px;
}

.youtube-result + .youtube-result {
  margin-top: 10px;
}