* {
    padding: 5px;
    margin: 0px;
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    width: 1050px;
    margin: 0px auto;
}

header h1 {
    font-style: normal;
    font-family: Verdana;
    color: #6E6E6E;
    background-color: #0b3861;
    font-size: 22pt;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-shadow: black 6px 6px 6px;
    border-radius: 4px;
    border: #666666 6px outset;
}


section {
    background-color: #ffffff;
    width: 650px;
    float: left;

}

article {
    border: gray 1px groove;
    padding: 5px;
    text-align: center;
    overflow: auto;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #ffffff;
}

aside {
    text-align: center;
    width: 360px;
    float: right;
    color: black;
    background-color: #ffffff;
    border-radius: 0px;
}
