body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.container {
  display: block;
  margin: 20px auto;

  max-width: 1200px;
  padding: 20px 8px;
}

input {
  width: 90%;
  max-width: 650px;
  padding: 8px;
  margin: 0px 0;
  border: solid 1px grey;
  border-radius: 3px;
  cursor: pointer;
}
button {
  background-color: #1995f4;
  color: white;
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #023182;
}
.but2 {
  background-color: #bf00ff;
  color: white;
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.but2:hover {
  background-color: #4a04a5;
}
.YTwrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.YTplayer {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid 1px red;
}
h1 {
  color: #bf00ff;
  font-size: 3em;
}