/*
 * Core Styling
 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #1d1d1d;
  background: linear-gradient(45deg, #1d1d1d 0%, #222222 100%);
  color: #efefef;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 120%;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
}

p, a {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
}

a {
  color: #b9b9b9;
  text-decoration: none;
  transition: all 0.45s ease-out;
}

a:hover, a:focus {
  color: #ecf0f1;
}

/*
 * Header Section
 */
.section__header {
  padding: 2.5rem;
  text-align: center;
}

/* 
 * Main Section
 */
.section__main {
  width: 100%;
  text-align: center;
  padding: 0 0.5rem;
}

.figure__card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0.2rem;
  min-width: 100px;
  max-width: 80px;
  width: 100%;
  background: #000000;
  text-align: left;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.figure__card * {
  transition: all 0.45s ease-out;
}
.figure__card--image {
  opacity: 0.8;
  width: 100%;
  vertical-align: top;
  transition: opacity 0.45s;
}
.figure__card--caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.figure__card--caption > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.figure__card h3, .figure__card h5 {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0 2.5rem;
  text-transform: uppercase;
}
.figure__card h3 {
  top: 0;
  text-transform: capitalize;
  font-weight: 400;
}
.figure__card h5 {
  bottom: 0;
  font-weight: 700;
}
.figure__card h5:nth-of-type(2) {
  opacity: 0;
  transform: translateY(150%);
}
.figure__card--link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.figure__card:hover .figure__card--image, .figure__card:focus .figure__card--image {
  opacity: 0.3;
  filter: grayscale(100%);
}
.figure__card:hover .figure__card--caption h5:first-of-type, .figure__card:focus .figure__card--caption h5:first-of-type {
  transform: translateY(150%);
  opacity: 0;
}
.figure__card:hover .figure__card--caption h5:nth-of-type(2), .figure__card:focus .figure__card--caption h5:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}

/* 
 * Footer Section
 */
.section__footer {
  text-align: center;
  padding: 2.5rem;
}

/* 
 * Media Queries 
 */
@media screen and (max-width: 320px) {
  .section__main {
    width: 100%;
    padding: 0;
  }

  .figure__card {
    max-width: 2100px;
  }
}