@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1369 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 5px;
  min-width: 40px;
  max-width: 70px;
  width: 40%;
  background: #060606;
  text-align: left;
  color: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.10);
  font-size: 9px;
}
.snip1369 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.10s ease-out;
  transition: all 0.10s ease-out;
}
.snip1369 > img,
.snip1369 .image img {
  -webkit-transform: scale(0.05);
  transform: scale(1.05);
  max-width: 90%;
}
.snip1369 > img {
  vertical-align: top;
  position: relative;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.8;
}
.snip1369 figcaption,
.snip1369 .image {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1369 .image {
  position: absolute;
  top: 0;
  bottom: 0%;
  right: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 rgba(255, 255, 255, 0.2);
}
.snip1369 .image img {
  position: absolute;
  top: 0;
}
.snip1369 figcaption {
  position: absolute;
  top: 70%;
  bottom: 0px;
  left: 3px;
  right: 1px;
  border-bottom: 0px solid #ffffff;
  padding-top: 1px;
  z-index: 1;
}
.snip1369 h3,
.snip1369 p {
  margin: 0;
}
.snip1369 h3 {
  font-weight: 400;
  margin-bottom: 1px;
  text-transform: uppercase;
}
.snip1369 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 0;
}
.snip1369 .read-more {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px);
  line-height: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 20px;
  color: #ffffff;
  right: 0;
  bottom: 0;
  font-weight: 500;
  position: absolute;
}
.snip1369 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.snip1369:hover .read-more,
.snip1369.hover .read-more,
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.snip1369:hover figcaption,
.snip1369.hover figcaption,
.snip1369:hover .image,
.snip1369.hover .image {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1369:hover figcaption,
.snip1369.hover figcaption {
  top: 60%;
}
.snip1369:hover .image,
.snip1369.hover .image {
  bottom: 100%;
}
.snip1369:hover p,
.snip1369.hover p {
  opacity: 5;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}










.float{
	position:fixed;
	width:10px;
	height:10px;
	bottom:1px;
	right:5px;
	background-color:#25d366;
	color:#FFF;
	border-radius:1px;
	text-align:center;
  font-size:1px;
	box-shadow: 1px 1px 1px #999;
  z-index:100;
}

.my-float{
	margin-top:1px;
}

















a{
  text-decoration:none;
}
.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  z-index: 1000;
}
























.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:5px;
	right:5px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
























.float-button {
        text-decoration: none;
        position: fixed;
        padding: 10px;
        padding-right: 15px;
        bottom: 30px;
        right: 30px;
        color: #fff;
        background-color:#25D366;
        border-radius: 25px 30px 5px 25px;
        z-index: 100;
        font-family: Arial;
        font-size: 17px;
        animation: whatsapp-animation 0.5s ease-in-out;
        box-shadow: 1px 2px 5px 2px rgba(30,30,30,0.3);
        transition:all 0.3s ease-out;
    }

    .float-button:hover {
         background-color: #128C7E;
          color: #fff;
    }

    .fa-whatsapp {
        font-size: 20px !important;
        padding-right: 5px;
        padding-left: 5px;
    }

    @keyframes whatsapp-animation {
        from {
            opacity: 0%;
        }

        to {
            opacity: 100%
        }
    }

    @media screen and (max-width: 545px) {
        span {
            display: none;
        }

        .float-button {
            bottom: 15px;
            right: 15px;
            width: 20px;
            border-radius: 20px 20px 5px 20px;
        }

        .fa-whatsapp {
            font-size: 22px !important;
            padding: 4px;
        }
    }







